<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.raf.vezbe11">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />


    <application
        android:name=".application.ProjekatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vezbe11" >
<!--        Zare, kada napravis login activity, samo njega stavi da bude main -->
<!--        a ovaj koji je trenutno main, samo stavi u iznad, da bi mogao da ga registruje-->
        <activity android:name=".presentation.view.activities.MainNavigationActivity"/>
        <activity android:name=".presentation.view.activities.LogInActivity"/>
        <activity android:name=".presentation.view.activities.ListOfMealsActivity"/>
        <activity android:name=".presentation.view.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add this provider element as a direct child of the <application> element -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="rs.raf.vezbe11.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- Add the meta-data element for the file paths -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

    <!-- If targeting Android 11 or higher, also include the <queries> element -->
    <queries>
        <provider
            android:authorities="rs.raf.vezbe11.fileprovider"
            android:name="androidx.core.content.FileProvider" />
    </queries>


</manifest>